body { background-color:#000; }
#demo {
  width: 692px;
  height: 60px;
  background-color: #333;
  padding: 8px;
}
#logo {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../img/rsz_ball.jpg) no-repeat;
}
